@import '../variables';
@import '../mixins';

form {
  display: flex;
  flex-direction: column;

  .input {
    display: flex;
    align-items: center;

    margin: 2em 0;
    position: relative;

    span:after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100vh;
      width: 100vw;
      transition: all 0.3s;
    }

    .input-icon {
      position: absolute;
      color: grey;
      left: 1em;
      font-size: 1.5em;
      z-index: 2001;

      & + input {
        padding-left: 2.5em;
      }
    }
  }

  input:focus+span:after, textarea:focus+span:after {
    z-index: 1000;
    background: rgba($background-dark, 0.4);
  }

  .input-icon {
    color: $yellow;
  }

  .input:last-child {
    justify-content: center;
  }

  input, textarea {
    background: transparent;
    border: 3px solid $background-dark;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.7em;
    width: 100%;
    font-size: 130%;
    transition: all 0.2s;
    background-color: $background-light;

    &:focus {
      z-index: 2000;
      border-color: $yellow !important;
      outline: none;
    }
  }

  input:not(:placeholder-shown):invalid, textarea:not(:placeholder-shown) {
    border-color: red;
    outline: none;
    box-shadow: none;
  }

  input[type=submit]:not(.button) {
    border: none;
    border-bottom: 3px solid $yellow;
    border-radius: 0;
    padding: 0;
    width: auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 2px;

    &:hover, &:active {
      color: $yellow;
      border-color: black;
    }
  }

  label {
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 130%;
  }
}

.button {
  background-color: $background-dark;
  color: $yellow;
  padding: 0.3em;
  border-radius: 4px;
  font-size: 2em;
  border: none;

  &:hover, &:active {
    cursor: pointer;
    background-color: $yellow;
    color: $background-dark;
  }
}

.dark {
  input, textarea {
    color: white;
    background-color: $background-dark;
    border-color: $background-light;
  }

  input[type=submit] {
    &:hover, &:active {
      border-color: white;
    }
  }

  .button {
    background-color: $background-light;
    color: $background-dark;

    &:hover, &:active {
      background-color: $background-dark;
      color: $background-light;
    }
  }
}
