@import '../variables';
@import '../mixins';

table {
  border-collapse: collapse;

  th, td {
    padding: 0.5em 1em;
    font-size: 120%;
  }

  tr {
    border-radius: 4px;
  }

  &.highlight tbody tr:hover {
    @include shadow;
  }
}

.dark {
  tbody tr:hover {
    box-shadow: none;
  }
}
