@import 'mixins';
@import 'variables';

@import 'components/forms';

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $comfortable-text-width;
  width: 100%;
  padding: 0 2em;
  box-sizing: border-box;
}

h1 {
  font-size: 4em;
  text-align: center;
}

form {
  width: 100%;
}
