@import 'variables';
@import 'mixins';

h1 {
  text-align: center;
}

.faq {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  .qa {
    max-width: $comfortable-text-width;
    margin-right: 5em;
  }
}

@include for-mobile {
  .qa {
    margin-right: 0 !important;
  }
}
