.content {
  display: flex;
  flex-direction: column;
  max-width: 30em;

  p {
    font-size: 110%;
  }

  table {
    width: auto;
    text-align: center;

    thead {
      text-align: center;
    }

    align-self: center;
  }
}
