@import 'variables';
@import 'components/animate';

.content {
  display: flex;
  flex-direction: column;
  max-width: $comfortable-text-width;

  table {
    width: auto;
    text-align: center;

    thead {
      text-align: center;
    }

    align-self: center;
  }
}
