@import 'mixins';
@import 'variables';

.content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 5em;
  grid-row-gap: 1em;
  grid-template:
    'header header header'
    'poster trailer showtimes'
    'upcoming upcoming upcoming';
  grid-template-rows: auto calc(100vh - 23rem) 1fr;
}

.content {
  .header-nowshowing {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 150%;

    & > * {
      margin: 0;
      padding: 0;
    }

    h2 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.3em;
      margin-bottom: 0.2em;
    }

    h1 {
      font-weight: 500;
      font-size: 3em;
    }
  }

  .poster {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 0;
    grid-template: poster;

    & > img { // Poster image
      width: 100%;
      height: auto;
      border-radius: $border-radius-img;
      @include shadow;
    }

    .ratings {
      display: flex;
      flex-direction: row;
      width: 80%;
      align-items: center;
      padding: 0 auto;
      justify-content: space-around;
      margin-top: 1em;
      margin-bottom: 0.5em;

      .rating, .runtime {
        display: flex;
        flex-direction: row;
        letter-spacing: 2px;
        margin-right: 0.5em;

        & > * {
          font-weight: bold;
        }

        img {
          height: 1em;
          margin-right: 0.3em;
        }
      }
    }

    .people {
      text-align: center;
      font-size: 70%;

      & > * {
        margin: 0.5em 0;
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    grid-template: trailer;

    .trailer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      transform-style: preserve-3d;

      & > img {
        width: 100%;
        height: auto;
        filter: brightness(60%);
        border-radius: $border-radius-img;
        @include shadow;
      }

      .play-button {
        position: absolute;
        background-color: black;
        border-radius: 100%;
        height: 5em;
        width: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .triangle {
          border-left: 2em solid $yellow;
          border-right: 1.33em solid transparent;
          border-bottom: 1.33em solid transparent;
          border-top: 1.33em solid transparent;
          width: 0;
          height: 0;
          margin-right: -2em;
        }
      }
    }

    .summery {
      margin-top: 1.5em;
      font-size: 120%;
      line-height: 1.3em;
    }
  }

  .showings {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: showtimes;

    table {
      font-size: 150%;
      text-align: center;

      thead {
        vertical-align: sub;

        tr:not(:first-child) th {
          font-weight: 200;
          font-size: 80%;
        }
      }

      .dates {
        font-weight: 200 !important;
      }

      th, td {
        padding: 0 1em;
        height: 1.5em;
      }
    }

    .prices {
      margin-top: 1em;
      font-size: 150%;

      b {
        font-size: 150%;
      }
    }
  }

  .upcoming {
    grid-area: upcoming;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 250%;
    }

    container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .movie {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2.5em;

        img {
          width: auto;
          width: calc((70vw - 20rem) / 3);
          @include shadow;
          border-radius: $border-radius-img;
        }

        span {
          margin-top: 1em;
          font-size: 150%;
          text-align: center;
          font-weight: 500;
        }
      }
    }
  }
}

.floating-arrow {
  position: absolute;
  top: calc(100vh - 4rem - 1rem);
  left: 50vw;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bob 1.5s infinite;
  box-sizing: border-box;
  color: rgba($yellow, 1);
}

.trailer-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  left: 0;
  top: 0;

  #trailer {
    position: fixed;
    width: 80vw;
    height: 80vh;
    left: 10vw;
    top: 10vh;
    z-index: 10;
  }
}

@media (max-width: 1300px) {
  body {
    .content {
      grid-template-areas:
      'header header'
      'poster trailer'
      'showtimes upcoming';
      grid-row-gap: 4em;
    }
  }
}

@include for-mobile {
  body {
    .content {
      grid-template-areas:
      'header'
      'poster'
      'trailer'
      'showtimes'
      'upcoming';
      grid-row-gap: 4em;
      grid-template-columns: 70%;
      justify-content: center;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;

      .poster {
        margin-top: -3em;

        & > img {
          width: 80%;
        }

        .people {
          display: none;
        }
      }

      .header-nowshowing {
        font-size: 0.8em;
      }
    }
  }
}

@keyframes bob {
  0% {
    padding-bottom: 0;
  }
  50% {
    padding-bottom: 1rem;
  }
  100% {
    padding-bottom: 0;
  }
}
