// Styles common to all pages

// Normalize
@import 'sassy-normalize/normalize';

// Helpers
@import 'fonts';
@import 'mixins';
@import 'variables';

// Components
@import 'components/tables';
@import 'components/text';
@import 'components/links';

html, body {
  padding: 0;
  margin: 0;

  background-color: $background-light;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Soin Sans Neue';
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  display: grid;
  grid-template-areas:
    'nav content content content content'
    'footer footer footer footer footer';
  grid-template-rows: 1fr 3em;
  grid-template-columns: 20em 1fr;
}

.dark {
  background-color: $background-dark;
  color: white;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  width: 20rem;
  height: calc(100vh - 4em);
  position: fixed;

  & > * {
    margin-left: 3rem;
  }

  & > img { // Logo
    width: 10em;
    height: auto;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    font-size: 150%;
    line-height: 2em;

    & > a {
      animation: slideIn;
      animation-duration: 1s;
      animation-fill-mode: both;
      font-weight: 300;

      background-size: 0 0;
      display: flex;
      align-items: center;

      transition: all;
      transition-duration: 1s;

      &:hover:before, &:hover:before {
        content: '\f061';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $yellow;
        margin-right: 0.5em;
      }
    }

    @for $i from 0 through 10 {
      & > a:nth-child(#{$i + 1}) {
        animation-delay: $i * 0.15s;
      }
    }
  }
}

.content {
  margin: 14em 5em auto 5em;
  justify-self: center;
  max-width: 1500px;
  grid-area: content;
}

.hamburger-menu {
  display: none;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  z-index: 101;

  .credits {
    a {
      font-weight: bold;
    }
  }

  .toggle-theme {
    width: 2em;
    height: 2em;
    outline: none;
    border-radius: 50%;
    border: none;
    background-color: $yellow;
    cursor: pointer;
  }
}

.dark.nav-open nav {
  background-color: $background-dark;
}

@include for-mobile {
  body {
    grid-template-areas:
      'nav'
      'content'
      'footer';
    grid-template-rows: auto 1fr 3em;
    grid-template-columns: none;
  }

  a:hover, a:active {
    background-size: 0 0 !important;
    color: $yellow !important;
    font-weight: bold !important;
  }

  nav {
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    width: 100%;
    max-width: none;
    box-sizing: border-box;
    background-color: $background-light;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    height: 8em;
    transition-property: height;
    transition-duration: 0.5s;
    overflow: hidden;
    display: grid;
    grid-template-rows: 8em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'logo hamburger';

    .hamburger-menu {
      grid-area: hamburger;
      justify-self: flex-end;
      display: block;
      cursor: pointer;
      z-index: 12;

      & > .line {
        width: 2em;
        height: 0.2em;
        margin-bottom: 0.3em;
        background-color: $yellow;
        border-radius: $border-radius-img;

        transition-duration: 0.3s;
        transition-property: all;
      }
    }

    img {
      min-height: auto;
      height: 6em;
      width: auto;
      margin: 0;
      padding: 0;
      grid-area: logo;
    }

    .navbar-links {
      display: none;

      & > a {
        animation: none;
      }
    }
  }

  .nav-open {
    nav {
      height: 100vh;
      margin: 0;
      z-index: 11;
      background-color: $background-light;

      grid-template-rows: 8em 1fr;
      grid-template-areas:
        'logo hamburger'
        'links links';

      .hamburger-menu {
        .line:nth-child(1) {
          transform: rotateZ(45deg);
          margin-bottom: -0.1em;
        }

        .line:nth-child(2) {
          display: none;
        }

        .line:nth-child(3) {
          transform: rotateZ(-45deg);
          margin-top: -0.2em;
        }
      }

      .navbar-links {
        display: flex;
        grid-area: links;
        text-align: center;
        align-items: center;
        margin: auto auto;
        padding: 0;
        width: 100%;

        flex-wrap: wrap;
        height: calc(100vh - 8em);

        a {
          padding: 0;
          margin-right: 1em;

          &:active:before, &:hover:before {
            content: '';
            margin: 0;
          }
        }
      }
    }
  }

  .dark nav {
    background-color: $background-dark;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
  }

  // For Safari
  @supports (-webkit-backdrop-filter: blur(10px)) {
    nav, .nav-open nav {
      background-color: rgba($background-light, 0.6);
      -webkit-backdrop-filter: blur(10px);
    }

    .dark nav, .dark.nav-open nav {
      background-color: rgba($background-dark, 0.6);
    }
  }
}

@keyframes slideIn {
  0% {
    margin-left: -200px;
  }
  100% {
    margin-left: 0;
  }
}
